<!DOCTYPE html>
<html>
  <head>
    <title>Spirit Animals - <%= employee.name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= employee.name %></h1>
    <section class="employees">
      <article class="employee">
        <header><%= employee.name %> (<em><%= employee.email %></em>) </header>
        <main>
          <img src="<%= employee.animal %>" alt="Spirit Animal" />
        </main>
        <footer>
          <button>&times; Delete</button> 
        </footer>
      </article>
    </section>
  </body>
</html>
